/**
CSS that renders the status indicator field.
 */
.datakit-status-indicator {
    background-color: #ecedf8;
    border: 1px solid #d5d7e9;
    border-radius: 3px;
    display: inline-block;
    font-weight: 600;
    line-height: 1;
    font-size: 13px;
    padding: 0.375rem 0.5rem;
    position: relative;
    white-space: nowrap;
    width: auto;

    svg {
        fill: #757575;
        height: 1.125rem;
        left: 0.25rem;
        position: absolute;
        stroke: rgba(154, 157, 187, 0.2);
        top: 0.4rem;
        transition: all ease-in-out 200ms;
        width: 1.125rem;
    }

    &.datakit-status-indicator--has-dot {
        padding-left: 1.5rem;
    }

    &.datakit-status-indicator--is-pill {
        border-radius: 0.75rem;
    }

    &.datakit-status-indicator--active {
        background-color: #f0fdf4;
        border-color: #166534;
        color: #166534;

        svg {
            fill: #166534;
            stroke: rgba(21, 128, 61, 0.22);
        }
    }

    &.datakit-status-indicator--info {
        background-color: #eff6ff;
        border-color: #2483ff;
        color: #1d4ed8;

        svg {
            fill: #60a5fa;
            stroke: rgba(96, 165, 250, 0.22);
        }
    }

    &.datakit-status-indicator--warning {
        background-color: #fefce8;
        border-color: #d3aa05;
        color: #a16207;

        svg {
            fill: #facc15;
            stroke: rgba(250, 204, 21, 0.22);
        }
    }

    &.datakit-status-indicator--error {
        background-color: #fef2f2;
        border-color: #991b1b;
        color: #b91c1c;

        svg {
            fill: #991b1b;
            stroke: rgba(153, 27, 27, 0.22);
        }
    }
}
