// Temporary fix until modal can be scaled properly.
.dataviews-action-modal {
    .components-modal__frame {
        max-width: max-content;
    }

    img {
        max-width: 600px;
        max-height: 200px;
    }
}

.fancybox__container {
    z-index: 1000002 !important; // DataViews uses a very high number for z-index unfortunately.
}
